header {color: rgb(83, 83, 100); text-align:center; border-radius: 10px;}
#carousel {text-align: center; height: 500px; }
.row {text-align: center; text-size-adjust: center; }
#titulo {font-size: 80px; font-family: cursive-fantasy; color: #c27f1b; text-align: center; }
#tabela {background-color: rgb(226, 100, 17); border-radius: 10px; border-top-left-radius: 1px; margin-left: 5px;}
#tabela h6 {text-align: center; color: white; margin-top: 8px;}
#tabela a {color: white ; display: block; height: 100%; width: 100%; text-decoration: none; margin-top: 6px;}
#descricao {background-color: antiquewhite; border-radius: 15%; border-top-left-radius: 15%; margin: 15px; margin-top: 0px;}


#promocao img {text-align: center; width: 100%; margin-top: 25%;}

footer{text-align: center; color: black; }
footer hr {margin: 10; }
#preco {color: red; font-size: 12px;}

#adocao img {text-align: center; width: 100%; margin-top: 8%;}
#adocao li {text-align: justify;}
#adocao {text-align: center; margin-top: 20px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

#avaliacao img {text-align: center; width: 50px; margin-top: 30%;}
#avaliacao {width: 20px; margin: 10px;}



#tabela1 h6 a {color: #c27f1b; display:block; border: 0px; height: 100%; width: 100%; text-decoration: none;}

.form-control {padding: 8px; border-radius: 0.5em; margin: 5px;}
#redes {margin-bottom: 5%; padding-top: 50px; padding-bottom: 30px; margin-left: 10%;}
#icons {margin: 10px;}
.form-check {text-align: left; margin-left: 5px;}
#campo {margin: 0px; margin-bottom: 0px;}
    
#jumbo {padding-top: 60px; color: rgb(83, 45, 45); margin-bottom: 60px;}
#img_contato{max-width: 100px; max-height: 200px;}
#entre_contato {margin-left: 10%;}